Eyhim customer engagement Agent.json
{
  "name": "Eyhim customer engagement Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "21cd9782-d3bf-4117-93fc-1f28cd7ce3c6",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        736,
        160
      ],
      "credentials": {
        "openAiApi": {
          "id": "O8B2Z0nckDCnsrvo",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ba5d4bdf-b164-4513-afc3-b64c3fc98613",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1728,
        576
      ],
      "credentials": {
        "openAiApi": {
          "id": "p1NFGiKcAfsfHHHE",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "b83da13f-e3f0-40d1-aba6-b566874d9628",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1456,
        912
      ],
      "credentials": {
        "openAiApi": {
          "id": "p1NFGiKcAfsfHHHE",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "name": "Knowledge_Base",
        "description": "Call this tool to get information about my company."
      },
      "id": "e0e8c07e-eca6-4151-a58f-9682131c0565",
      "name": "Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1408,
        416
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "1C8n3wr1dcByW3cr1lvCj9BYVbbwv8jywy8ORveNyoAU",
          "mode": "list",
          "cachedResultName": "Contact Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C8n3wr1dcByW3cr1lvCj9BYVbbwv8jywy8ORveNyoAU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C8n3wr1dcByW3cr1lvCj9BYVbbwv8jywy8ORveNyoAU/edit#gid=0"
        },
        "options": {}
      },
      "id": "aa253a9e-1412-433c-86f7-e9588f066c63",
      "name": "Contacts Data",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        848,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ejx5gXBK1x8bww8Z",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "2a799905-9039-4dee-bf2f-461d3430e55a",
      "name": "Respond to Me",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        32
      ],
      "webhookId": "59625d03-4fda-4130-ae7f-4894ccc6d7f8",
      "credentials": {
        "telegramApi": {
          "id": "rkKsIoH5Qh8hLZl8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "f737ca77-767e-408a-8660-e69b0b097b85",
      "name": "Listen for incoming events",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -400,
        224
      ],
      "webhookId": "322dce18-f93e-4f86-b9b1-3305519b7834",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "rkKsIoH5Qh8hLZl8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{$json.message.voice.file_id}}",
        "additionalFields": {}
      },
      "id": "43f5afe7-c931-4574-9ee0-19fe0bd4399b",
      "name": "Download voice file",
      "type": "n8n-nodes-base.telegram",
      "position": [
        96,
        336
      ],
      "typeVersion": 1.2,
      "webhookId": "08250cc3-cbfe-4cb0-9b83-942d77d12906",
      "credentials": {
        "telegramApi": {
          "id": "rkKsIoH5Qh8hLZl8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bccbce0a-7786-49c9-979a-7a285cb69f78",
              "name": "CombinedMessage",
              "type": "string",
              "value": "={{ $json.message && $json.message.text ? $json.message.text : ($json.text ? $json.text : '') }}"
            },
            {
              "id": "5b1fc9f5-1408-4099-88cc-a23725c9eddb",
              "name": "Message Type ",
              "type": "string",
              "value": "={{ $json?.message?.text && !$json?.text ? \"text query\" : (!$json?.message?.text && $json?.text ? \"voice message\" : \"unknown type message\") }}"
            },
            {
              "id": "1e9a17fa-ec5d-49dc-9ff6-1f28b57fb02e",
              "name": "Source Type",
              "type": "string",
              "value": "={{ $('Listen for incoming events').item.json.message.forward_origin ? \" forwarded\" : \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c25313c1-78f4-4a74-99ab-3354c1ccda53",
      "name": "Combine content and set properties",
      "type": "n8n-nodes-base.set",
      "position": [
        528,
        64
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "=Sorry, {{ $('Listen for incoming events').first().json.message.from.first_name }}! This command is not supported yet. Please send text or voice messages.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "76be38e3-de8b-4829-8a35-5537aaabc834",
      "name": "Send error message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -192,
        496
      ],
      "typeVersion": 1.2,
      "webhookId": "c219800e-42ba-4ca6-ba25-07eda647ea98",
      "credentials": {
        "telegramApi": {
          "id": "rkKsIoH5Qh8hLZl8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}"
      },
      "id": "adee6b7f-0f83-4de8-a766-a863d48aa502",
      "name": "Send Typing action",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -144,
        32
      ],
      "typeVersion": 1.2,
      "webhookId": "fd992425-5d02-40c8-a179-c0e2b4f98d97",
      "credentials": {
        "telegramApi": {
          "id": "rkKsIoH5Qh8hLZl8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "dd41bbf0-bee0-450b-9160-b769821a4abc",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.voice}}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "6f7e970c-75bf-44ec-bb08-e7d70d5b23bb",
      "name": "Determine content type",
      "type": "n8n-nodes-base.switch",
      "position": [
        -160,
        240
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "",
          "temperature": 0.7
        }
      },
      "id": "a6fa56a9-5858-44e1-99dd-1e3c02250203",
      "name": "Convert audio to text",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        288,
        336
      ],
      "typeVersion": 1.5,
      "credentials": {
        "openAiApi": {
          "id": "p1NFGiKcAfsfHHHE",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "name": "Calendar_Agent",
        "description": "Call this tool to take actions within Calendar",
        "workflowId": {
          "__rl": true,
          "value": "0vBc9gJYA3iJ5sos",
          "mode": "list",
          "cachedResultName": "CalendarAgent"
        }
      },
      "id": "f1d8812a-abb5-438f-8941-1ee26b94f940",
      "name": "Calendar Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1024,
        544
      ]
    },
    {
      "parameters": {
        "name": "Email_Agent",
        "description": "Call this tool to take any email actions",
        "workflowId": {
          "__rl": true,
          "value": "KLifODuorqjN4a4M",
          "mode": "list",
          "cachedResultName": "EmailAgent"
        }
      },
      "id": "ee62402e-c68f-42b2-9701-ad10755a8540",
      "name": "Email Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1200,
        512
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Listen for incoming events').item.json.message.chat.id }}"
      },
      "id": "d1d8a2de-d7c4-4dbd-a8a0-9f130b6a5a7f",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        656,
        432
      ]
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "text-embedding-3-small",
          "mode": "list",
          "cachedResultName": "text-embedding-3-small"
        },
        "options": {
          "pineconeNamespace": "=Adaptify AI SOP"
        }
      },
      "id": "255c5e79-d55c-4d84-9bfc-3005fbaa0fd2",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1296,
        720
      ],
      "credentials": {
        "pineconeApi": {
          "id": "dqYw8Og5GKDFNkY0",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "name": "phone_call_agent",
        "description": "Use this tool to call someone.\n",
        "workflowId": {
          "__rl": true,
          "value": "nzdrCP9cHDC0EBoL",
          "mode": "list",
          "cachedResultUrl": "/workflow/nzdrCP9cHDC0EBoL",
          "cachedResultName": "PhoneCallAgent"
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"query\": {\n    \"first_name\": \"\",\n    \"type\": \"\",\n    \"instructions\": \"\",\n    \"phone_number\": \"\",\n    \"call_purpose\": \"\",\n    \"response_style\": \"concise\",\n    \"tone\": \"friendly\",\n    \"pause_between_sentences\": \"short\",\n    \"fallback_response\": \"I'm not sure, but I'll check with Nikhil and get back to you.\"\n  }\n}\n\n"
      },
      "id": "9ef1aca1-527e-4aa7-8c3c-4279fad497d8",
      "name": "Phone Call Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1152,
        1024
      ]
    },
    {
      "parameters": {
        "source": "parameter",
        "workflowJson": "{\n  \"name\": \"PhoneCallAgent\",\n  \"nodes\": [\n    {\n      \"parameters\": {},\n      \"id\": \"03d4fade-0c54-43bc-9fde-27facfd0ce34\",\n      \"name\": \"Execute Workflow Trigger\",\n      \"type\": \"n8n-nodes-base.executeWorkflowTrigger\",\n      \"typeVersion\": 1,\n      \"position\": [\n        -1680,\n        180\n      ]\n    },\n    {\n      \"parameters\": {\n        \"amount\": 3\n      },\n      \"id\": \"31582c19-804e-42e1-a996-1a2605cc6a06\",\n      \"name\": \"Wait 3s\",\n      \"type\": \"n8n-nodes-base.wait\",\n      \"typeVersion\": 1.1,\n      \"position\": [\n        -580,\n        -280\n      ],\n      \"webhookId\": \"2254f43e-aa4c-4181-bd7e-4b4cf8399828\"\n    },\n    {\n      \"parameters\": {\n        \"method\": \"POST\",\n        \"url\": \"https://api.vapi.ai/call/\",\n        \"sendHeaders\": true,\n        \"headerParameters\": {\n          \"parameters\": [\n            {\n              \"name\": \"Authorization\",\n              \"value\": \"Bearer 034c0462-c96d-4129-8ca2-029c6c96f69e\"\n            }\n          ]\n        },\n        \"sendBody\": true,\n        \"specifyBody\": \"json\",\n        \"jsonBody\": \"={\\n  \\\"assistantId\\\": \\\"6acda9bc-ef39-4a4c-84a3-0fdd38f2ab88\\\",\\n  \\\"assistantOverrides\\\": {\\n    \\\"variableValues\\\": {\\n      \\\"first_name\\\": \\\"{{ $json.query.query.first_name }}\\\",\\n      \\\"type\\\": \\\"{{ $json.query.query.type }}\\\",\\n      \\\"instructions\\\": \\\"{{ $json.query.query.instructions }}\\\",\\n      \\\"call_purpose\\\": \\\"{{ $json.query.query.call_purpose }}\\\",\\n      \\\"response_style\\\": \\\"{{ $json.query.query.response_style }}\\\",\\n      \\\"tone\\\": \\\"{{ $json.query.query.tone }}\\\",\\n      \\\"pause_between_sentences\\\": \\\"{{ $json.query.query.pause_between_sentences }}\\\",\\n      \\\"fallback_response\\\": \\\"{{ $json.query.query.fallback_response }}\\\"\\n    }\\n  },\\n  \\\"customer\\\": {\\n    \\\"number\\\": \\\"{{ $json.query.query.phone_number }}\\\",\\n    \\\"name\\\": \\\"{{ $json.query.query.first_name }}\\\"\\n  },\\n  \\\"phoneNumberId\\\": \\\"75207c9a-a7c0-474f-b638-87838b5639bc\\\"\\n}\\n\",\n        \"options\": {}\n      },\n      \"id\": \"1142cae3-d788-4fab-8b77-0e3f635542bb\",\n      \"name\": \"Phone Call\",\n      \"type\": \"n8n-nodes-base.httpRequest\",\n      \"typeVersion\": 4.2,\n      \"position\": [\n        -1460,\n        180\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"60e036f1-1320-418d-ac8a-86e3349da08e\",\n              \"name\": \"response\",\n              \"value\": \"={{ $json.analysis.summary }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"1297c3bc-5104-47bb-90c0-33282a7bd2ca\",\n      \"name\": \"Set Fields\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.4,\n      \"position\": [\n        -740,\n        200\n      ]\n    },\n    {\n      \"parameters\": {\n        \"url\": \"=https://api.vapi.ai/call/{{ $json.id }}\",\n        \"sendHeaders\": true,\n        \"headerParameters\": {\n          \"parameters\": [\n            {\n              \"name\": \"Authorization\",\n              \"value\": \"Bearer 034c0462-c96d-4129-8ca2-029c6c96f69e\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"095043ad-85d4-4cfa-8361-49faba34fec4\",\n      \"name\": \"Call Status\",\n      \"type\": \"n8n-nodes-base.httpRequest\",\n      \"typeVersion\": 4.2,\n      \"position\": [\n        -1220,\n        180\n      ]\n    },\n    {\n      \"parameters\": {\n        \"conditions\": {\n          \"options\": {\n            \"caseSensitive\": true,\n            \"leftValue\": \"\",\n            \"typeValidation\": \"strict\",\n            \"version\": 1\n          },\n          \"conditions\": [\n            {\n              \"id\": \"3ea6e246-4cc2-4351-a07b-d2d4b61359f9\",\n              \"leftValue\": \"={{ $json.status }}\",\n              \"rightValue\": \"=ended\",\n              \"operator\": {\n                \"type\": \"string\",\n                \"operation\": \"notEquals\"\n              }\n            }\n          ],\n          \"combinator\": \"and\"\n        },\n        \"options\": {}\n      },\n      \"id\": \"bcfaacbb-e6b6-4194-86c2-74eb0bb3deeb\",\n      \"name\": \"Ongoing Call\",\n      \"type\": \"n8n-nodes-base.if\",\n      \"typeVersion\": 2.1,\n      \"position\": [\n        -1020,\n        180\n      ]\n    }\n  ],\n  \"pinData\": {},\n  \"connections\": {\n    \"Execute Workflow Trigger\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Phone Call\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Wait 3s\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Call Status\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Phone Call\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Call Status\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Call Status\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Ongoing Call\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Ongoing Call\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Wait 3s\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ],\n        [\n          {\n            \"node\": \"Set Fields\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    }\n  },\n  \"active\": false,\n  \"settings\": {\n    \"executionOrder\": \"v1\"\n  },\n  \"versionId\": \"f1f5c0c9-bc21-478b-9090-fc567f18bbb9\",\n  \"meta\": {\n    \"instanceId\": \"4fbb40ba82fe5efb6c4fb651e2085d0afce0425f4b05e300bbce0fe5c2c6b4af\"\n  },\n  \"id\": \"pa2wKv0LsdfvSWxn\",\n  \"tags\": []\n}\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        592,
        912
      ],
      "id": "82bfdb11-b748-40a8-b214-35c78614fbb9",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nzdrCP9cHDC0EBoL",
          "mode": "list",
          "cachedResultUrl": "/workflow/nzdrCP9cHDC0EBoL",
          "cachedResultName": "PhoneCallAgent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        384,
        960
      ],
      "id": "24203912-26e5-4185-9b91-0e97269ae226",
      "name": "Call 'PhoneCallAgent'",
      "notesInFlow": true,
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Fix Broken JSON Node\nconst input = $input.first().json;\n\n// Clean the input data\nconst cleanData = {\n  first_name: input.first_name || \"Aditya\",\n  phone_number: input.phone_number || \"+911234567890\",\n  instructions: input.instructions || \"Discuss project details\",\n  call_purpose: input.call_purpose || \"project meeting\",\n  response_style: \"professional\"\n};\n\nreturn cleanData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        864
      ],
      "id": "a7a2ee03-55a9-4e64-9c9e-8b706caddae8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.CombinedMessage }}",
        "options": {
          "systemMessage": "=#Role\n\nYou are hims,Ey customer Engagement Agent Developed by team !(losers). Your primary role is to delegate tasks to the appropriate tool—you do not complete tasks yourself. Instead, you ensure that each request is routed correctly, with all necessary details passed to the right tool for execution.\n\n## Tools:\n\n- Phone Call Agent → Initiates phone calls by following provided instructions, ensuring clear and effective communication.\n\nContacts Data: For any task involving communication (e.g., calls, emails, or scheduling), always retrieve and verify contact details using the Contacts Data tool before passing them to the relevant agent.\n\nEmail Agent: Use this for handling all email-related actions, such as sending messages, setting up replies, or forwarding emails. Only send emails to verified email addresses found in the Contacts list. Always sign emails as \"Hims\" and NEVER use placeholders like \"[Your Name].\"\n\nIf an email address for a recipient cannot be found in the Contacts list, do not attempt to send the email or use placeholder addresses like \"@example.com\". \n\nCalendar Agent: Use this for scheduling, updating, or managing calendar events.\n\n\n### How to Use the Phone Call Agent:\n\nIf the user wants to make a phone call, trigger the Phone call Agent tool.\nEnsure the following details are passed to the calling agent:\nfirst_name → The name of the person or business being called.\ntype → The contact type (e.g., \"Doctor,\" \"Client,\" \"Supplier\").\ninstructions → A clear, concise description of what needs to be discussed or achieved on the call.\nphone_number → Must be formatted in E.164 format (e.g., \"+xxxxxxxxxxxx\").\ncall_purpose → The reason for the call.\nresponse_style → Determines whether responses should be concise or detailed.\ntone → Defines how the assistant should sound (e.g., friendly, professional).\npause_between_sentences → Controls the pacing of speech.\nfallback_response → A predefined response if the assistant is unsure of an answer.\nThe calling agent already understands it is a personal assistant making the call, so only provide essential details—avoid unnecessary context or explanations.\n\nExample Usage:\nUser Input: \"Call my accountant to ask about tax deductions for this year.\"\n\nAction:\n\nFirst, fetch the accountant’s phone number from the Contacts Data tool.\nEnsure the number is in E.164 format (e.g., \"+xxxxxxxxxxxx\").\nInvoke the Phone call Agent tool, passing the following details:\n\n{\n  \"first_name\": \"Mark Dan\",\n  \"type\": \"Accountant\",\n  \"instructions\": \"Ask about available tax deductions for this year and clarify if there are any changes in tax regulations that might affect Damian.\",\n  \"phone_number\": \"+xxxxxxxxxxxx\",\n  \"call_purpose\": \"Tax deduction inquiry\",\n  \"response_style\": \"concise\",\n  \"tone\": \"friendly\",\n  \"pause_between_sentences\": \"short\",\n  \"fallback_response\": \"I'm not sure, but I'll check with Hims and get back to you.\"\n}\nResponse to User: \"I spoke with Mark. He will send over a list of tax deductions by the end of the day.\"\n\n\n\n#### Rules & Best Practices:\nAlways respond in English.\nAlways delegate tasks using the correct tool—never complete them manually.\nIf a request requires contact details, fetch them first before proceeding.\nDo not include user questions in emails or phone call instructions.\nKeep responses clear, structured, and professional.\nEnsure efficient and proactive delegation to maintain a seamless workflow.\n\nWhen a task requires using one or more of these tools, make sure to identify which tool is most appropriate, pass along the relevant details, and execute the actions needed to complete the task. Your goal is to be proactive, precise, and organized in managing these resources to provide a smooth experience for the user.\n\nHere is the current time/date: {{ $now.format('DD')}}\n\n"
        }
      },
      "id": "45643c48-17aa-4df2-8fd1-f5db1758b63e",
      "name": "Ey Hims",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        976,
        32
      ],
      "retryOnFail": false
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Ey Hims",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Ey Hims",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contacts Data": {
      "ai_tool": [
        [
          {
            "node": "Ey Hims",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Listen for incoming events": {
      "main": [
        [
          {
            "node": "Determine content type",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Typing action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download voice file": {
      "main": [
        [
          {
            "node": "Convert audio to text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine content and set properties": {
      "main": [
        [
          {
            "node": "Ey Hims",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine content type": {
      "main": [
        [
          {
            "node": "Combine content and set properties",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download voice file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert audio to text": {
      "main": [
        [
          {
            "node": "Combine content and set properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "Ey Hims",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "ai_tool": [
        [
          {
            "node": "Ey Hims",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Ey Hims",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Phone Call Agent": {
      "ai_tool": [
        [
          {
            "node": "Ey Hims",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'PhoneCallAgent'": {
      "ai_tool": [
        []
      ]
    },
    "Ey Hims": {
      "main": [
        [
          {
            "node": "Respond to Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "12d7aa2c-9f8c-42e9-a4e7-b89529b3ad5b",
  "meta": {
    "instanceId": "9f03552fc0957eef9184f37510f8bebd3618c2a7adb03f7d2379b5fe146a71bd"
  },
  "id": "jrAWPSm4psibuiNT",
  "tags": []
}